@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: auto;
  font-size: 16px;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}


@layer base {
  :root {
    --primary-color: #3C3C78;
    --secondary-color: #7878B4;
    --accent-color: #78B478;
    --background-color: #F3F3FF;
    --text-color: #3C3C78;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Fonts */
@font-face {
  font-family: 'Galka';
  src: local('Galka'), url('../fonts/YWFT-Galka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('../fonts/InterVariable.ttf') format('truetype-variations');
  font-weight: normal;
  font-style: normal;
}

.galka {
  font-family: 'Galka', sans-serif;
}

.inter {
  font-family: 'Inter', sans-serif;
}


/* Landing Page */

.page {
  display: relative;
}

.z-5 { z-index: 5; }
.z-4 { z-index: 4; }
.z-3 { z-index: 3; }
.z-2 { z-index: 2; }


.landing-header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  font-family: 'galka';
  background-color: #F3F3FF;
  width: 100vw;
  height: 96vh;
}

.landing-page-1 {
  display: flex;
  align-items: center;
  justify-content: space;
  background-color: #7878B4;
  height: 100vh;
}

.landing-page-2 {
  display: flex;
  align-items: center;
  justify-content: space;
  background-color: #78B478;
  height: 100vh;
}

.landing-page-3 {
  display: flex;
  align-items: center;
  justify-content: space;
  background-color: #3C3C78;
  height: 96vh;
}

.landing-footer {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  font-family: 'galka';
  background-color: #F3F3FF;
  height: 104vh;
}

.header-logo {
  position: fixed;
  left: 7vw;
  top: 7vh;
  font-size: 40px;
  color: var(--primary-color);
  font-weight: 800;
  letter-spacing: 1px;
}

.dropdown-button {
  position: fixed;
  right: 7vw;
  top: 7vh;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.dropdown-closed {
  position: fixed;
  background-color: var(--accent-color);
  right: 5vw;
  top: 5vh;
  width: 0px;
  height: 0px;
  opacity: 0;
  transition: all 0.3s ease;
}

.dropdown-open {
  width: 300px;
  height: 500px;
  opacity: 1;
}

.top-line {
  position: relative;
  width: 50px;
  height: 3px;
  background-color: var(--primary-color);
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.bottom-line {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 3px;
  background-color: var(--primary-color);
  margin-top: 10px;
  transition: all 0.3s ease;
}

.top-line-open {
  transform: rotate(45deg) translateX(12.5px);
}

.bottom-line-open {
  width: 50px;
  transform: rotate(-45deg) translateX(12.5px);
}

.dropdown-container {
  display: inline-block;
}

.dropdown-element {

}


/* Global Colors and Shapes */